---
layout: default
title: About Page
featured:
  - icons: fa-solid fa-bed
    descriptions: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icons: fa-solid fa-cloud
    descriptions: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icons: fa-solid fa-moon
    descriptions: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icons: fa-solid fa-broom
    descriptions: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
---

    <!------------------------------Header Banner------------------------>
    <header class="grid center tall-60 xs-tall-50">

    {% include header-nav.html %}

      <div class="col-12">
        <h3 class="font-weight-xbold editable">
          we're the <span class="featured-text">best</span>
        </h3>
        <h1 class="font-weight-normal editable" data-aos="fade-up">
          the perfect mattress for your family
        </h1>
      </div>
    </header>

    <!---------------------------- Video Section ------------------------>
    <section class="grid-center bg-light">
      <div class="col-7_sm-12-middle padded-sm">
        <div class="editable" style="padding: 56.25% 0 0 0; position: relative">
          <iframe
            src="https://player.vimeo.com/video/566499500?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            muted-1
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            "
            title="nala - horizontal"
          >
            <p>
              Sorry, your browser doesnt allow support embeded videos
            </p></iframe
          >
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      <div class="padded-md col-5_sm-12-middle editable">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
          voluptatibus aspernatur impedit modi culpa repudiandae illo commodi
          omnis voluptates dolor iure numquam quis obcaecati aut, eveniet
          laborum velit tempore reiciendis? Mollitia voluptatibus aspernatur
          impedit modi culpa repudiandae illo commodi omnis.
        </p>
      </div>
    </section>

    <!---------------------------- Gallery Section ------------------------>
    <section class="grid padded-md">
      <div class="bg-image bg-pug col-6_xs-12 tall-70 editable">
        <!-- background image pug sleeping -->
      </div>
      <div class="padded-md col-6_xs-12-middle editable">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
          voluptatibus aspernatur impedit modi culpa repudiandae illo commodi
          omnis voluptates dolor iure numquam quis obcaecati aut, eveniet
          laborum velit tempore reiciendis? Mollitia voluptatibus aspernatur
          impedit modi culpa repudiandae illo commodi omnis.
        </p>
      </div>
    </section>

    <section class="grid padded-md padded-t-0">
      <div class="bg-image bg-bed col-12 tall-70 editable show-xs">
        <!-- backgroud image bed -->
      </div>
      <div class="padded-md col-6_xs-12-middle editable">
        <h2>and <span class="featured-text">another</span> one</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          odio, optio quisquam officia illum excepturi, accusantium temporibus
          assumenda natus iure delectus officia illum excepturi, accusantium
          temporibus assumenda natus iure delectus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          neque, alias maxime deleniti eligendi itaque eveniet delectus autem
          ullam dolorem beatae culpa, repellat quis odit cupiditate veritatis
          sapiente incidunt animi. Molestiae odio, optio quisquam officia illum
          excepturi, accusantium temporibus assumenda natus iure delectus.
        </p>
      </div>
      <div class="bg-image bg-bed col-6_xs-12 tall-70 editable hide-xs">
        <!-- backgroud image bed -->
      </div>
    </section>

    <!--------------------------------- Icon Section sustainabilty -------------------------->
    <section class="padded-md grid bg-featured">
      <div class="padded-1 col-12 center editable">
        <h2><span class="white-text">features</span> you will love</h2>
      </div>
      {% for item in page.featured %}
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="{{item.icons}}" data-aos="flip-left" data-aos-duration="1000"></i>
        <p> {{item.descriptions}}</p>
      </div>
      {% endfor %}
      <!-- <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p>
      </div>
      <div class="padded-1 ccol-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p> -->
      </div>
    </section>
