---
layout: default
title: Contact Page
featured:
  - icon: fa-solid fa-cloud
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icon: fa-solid fa-cloud
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icon: fa-solid fa-cloud
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
---

    <!------------------------------Header Banner------------------------>
    <header class="grid center tall-60 xs-tall-50">

    {% include header-nav.html %}

      <div class="col-12">
        <h3 class="font-weight-xbold editable">
          why
          <span class="featured-text">wait?</span>
        </h3>
        <h1 class="font-weight-normal editable" data-aos="fade-up">
          one call away from the perfect night sleep
        </h1>
      </div>
    </header>

    <!---------------------------Lets connect/contact form ------------->
    <section class="grid-spaceBetween-middle bg-dark light-text padded-md">
      <div class="col-4_sm-12 padded-sm editable">
        <h2>let's <span class="featured-text">connect</span></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          odio, optio quisquam officia illum excepturi, accusantium temporibus
          assumenda natus iure delectus officia illum excepturi, accusantium
          temporibus assumenda natus iure delectus.
        </p>
      </div>
      <div class="col-6_sm-12 padded-md">
        <form>
          <input type="text" name="_name" placeholder="Your Name" />
          <input type="email" name="_replyto" placeholder="Your Email" />
          <textarea
            name="message"
            placeholder="Tell us what you want..."
            rows="6"
          ></textarea>
          <button class="button" type="submit">SUBMIT</button>
        </form>
      </div>
    </section>

    <!---------------------------- Gallery Section ------------------------>
    <section class="grid padded-md">
      <div class="bg-image bg-pug col-6_xs-12 tall-70 editable">
        <!-- background image pug sleeping -->
      </div>
      <div class="padded-md col-6_xs-12-middle editable">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
          voluptatibus aspernatur impedit modi culpa repudiandae illo commodi
          omnis voluptates dolor iure numquam quis obcaecati aut, eveniet
          laborum velit tempore reiciendis? Mollitia voluptatibus aspernatur
          impedit modi culpa repudiandae illo commodi omnis.
        </p>
      </div>
    </section>

    <!--------------------------------- Help Icon Section -------------------------->
    <section class="padded-md grid-center bg-light">
      <div class="padded-1 col-12 center editable margin-b-1">
        <h2>need help deciding?</h2>
      </div>

      {% for item in page.featured %}
      <div class="padded-1 col-3_sm-4_xs-12 editable">
        <i class="{{item.icon}}" data-aos="flip-left" data-aos-duration="1000"></i>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}
      <!-- <div class="padded-1 col-3_sm-4_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum.
        </p>
      </div>
      <div class="padded-1 col-3_sm-4_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat.
        </p>
      </div> -->
      <div class="col-12 center margin-t-2 sm-margin-t-3 sm-margin-b-2">
        <a href="#" class="bg-dark help-team">Chat to our team</a>
      </div>
    </section>

    <!-- -------------------------------- Testimonial Section ----------------------------->
    <section class="padded-lg grid">
      <div class="col-1 right">
        <span class="quote-icon">“</span>
      </div>
      <div class="col-10 center">
        <p class="med-text font-weight-light editable">
          I've never experienced sleep like this. Omg I really love this
          mattress, I want to buy one for every member of my family
        </p>
        <p class="subtitle editable right">- A very happy customer</p>
      </div>
      <div class="col-1">
        <span class="quote-icon">”</span>
      </div>
    </section>

