---
layout: default
title: Gallery Page
popup-gallery: true
gallery-background: bg-featured
gallery:
 - column-size: col-6_sm-12
   aspect-ratio: square 
   background_image: /images/bed.jpg
   type: pillow
 - column-size: col-6_sm-12
   aspect-ratio: square 
   background_image: /images/pug.jpg
   type: mattress
 - column-size: col-4_sm-12
   aspect-ratio: portrait-tall
   background_image: /images/pillows.jpg 
   type: bed  
 - column-size: col-4_sm-12
   aspect-ratio: portrait-tall
   background_image: /images/bed.jpg
   type: bed
 - column-size: col-4_sm-12
   aspect-ratio: portrait-tall
   background_image: /images/pug.jpg
   type: pillow
 - column-size: col-12_sm-12
   aspect-ratio: landscape
   background_image: /images/pillows.jpg  
   type: mattress
---

    <!------------------------------Header Banner------------------------>
    <header class="grid center tall-60 xs-tall-50">

    {% include header-nav.html %}

      <div class="col-12">
        <h3 class="font-weight-xbold editable">
          <span class="featured-text">gallery</span> of dreams
        </h3>
        <h1 class="font-weight-normal editable" data-aos="fade-up">
          explore our world of luxury
        </h1>
      </div>
    </header>

    {% if page.popup-gallery == true %}

    <!-- Clickable Popup Gallery -->
    <section class="padded-md {{page.gallery-background}}">
        <h2> Pop-up Gallery </h2>
        <div class="grid gallery" id="lightgallery">

            {% for item in page.gallery %}
            <a class="{{item.column-size}}" href="{{item.background_image}}">
                <div class="bg-image {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');"> 
                </div>
            </a>  
            {% endfor %}
        </div> 

        <!-- Click on button to show gallery -->
        <!-- <div class="grid gallery" id="lightgallery-2">
            <a class="button-gallery" href="/images/bed.jpg" title="Luxury bed">
              View our work
            </a>           
            <a href="/images/pug.jpg" title="Adorbale pug"></a>     
            <a href="/images/pillows.jpg" title="Melt in the pillows"></a> 
            <a href="/images/bed.jpg" title="Luxury bed"></a> 
            <a href="/images/pug.jpg" title="Adorable pug"></a> 
            <a href="/images/pillows.jpg" title="Melt in the pillows"></a> 
        </div>  -->
    </section>  

    {% else %}

    <!-- Standard Gallery -->
    <section class="padded-md {{page.gallery-background}}">
        <h2> Standard Gallery </h2>
        <div class="grid gallery">

            {% for item in page.gallery %}
            <div class="{{item.column-size}}">
                <div class="bg-image {{item.aspect-ratio}}" 
                style="background-image: url('{{item.background_image}}');">
                </div>
            </div>  
            {% endfor %}
        </div>

   
        <!-- <div class="col-6_xs-12">
            <div class="bg-image square bg-bed"></div>
        </div>

        <div class="col-6_xs-12">
            <div class="bg-image square bg-pug"></div>
        </div>

        <div class="col-4_sm-12">
            <div class="bg-image portrait-tall bg-bed"></div>
        </div>

        <div class="col-4_sm-12">
            <div class="bg-image portrait-tall bg-pug"></div>
        </div>

        <div class="col-4_sm-12">
            <div class="bg-image portrait-tall bg-pillow"></div>
        </div>

        <div class="col-12_xs-12">
            <div class="bg-image landscape bg-pillow"></div>
        </div> -->

    </section>  

    {% endif %}

    <!-- -------------------------------- Testimonial Section ----------------------------->
    {% include testimonial.html %}