---
layout: default
title: Home Page
featured:
  - icon: fa-solid fa-bed
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icon: fa-solid fa-cloud
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icon: fa-solid fa-moon
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
  - icon: fa-solid fa-broom
    description: >-
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
      incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
      deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
      perferendis ducimus.
---

<!------------------------------Header Banner------------------------>
<header class="grid center tall-100 md-tall-80">
  {% include header-nav.html %}

  <div class="col-12">
    <h3 class="font-weight-xbold editable">
      <span class="featured-text">sleep</span> like a baby
    </h3>
    <h1 class="font-weight-normal editable" data-aos="fade-up"> the ultimate mattress solution </h1>
  </div>
</header>

<!---------------------------- Gallery / About Section ------------------------>
<section class="grid">
  <div class="padded-md col-6_xs-12-middle editable">
    <h2>built to last a <span class="featured-text">lifetime</span></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae odio,
      optio quisquam officia illum excepturi, accusantium temporibus assumenda
      natus iure delectus officia illum excepturi, accusantium temporibus
      assumenda natus iure delectus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      neque, alias maxime deleniti eligendi itaque eveniet delectus autem ullam
      dolorem beatae culpa, repellat quis odit cupiditate veritatis sapiente
      incidunt animi. Molestiae odio, optio quisquam officia illum excepturi,
      accusantium temporibus assumenda natus iure delectus.
    </p>
  </div>
  <div class="bg-image bg-bed col-6_xs-12 tall-70 hide-xs editable">
    <!-- backgroud image bed -->
  </div>
  <div class="bg-image bg-pug col-6_xs-12 tall-70 editable">
    <!-- background image pug sleeping -->
  </div>
  <div class="padded-md col-6_xs-12-middle editable">
    <h2>so <span class="featured-text">soft</span> you'll melt</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
      voluptatibus aspernatur impedit modi culpa repudiandae illo commodi omnis
      voluptates dolor iure numquam quis obcaecati aut, eveniet laborum velit
      tempore reiciendis? Mollitia voluptatibus aspernatur impedit modi culpa
      repudiandae illo commodi omnis.
    </p>
  </div>
</section>

<!--------------------------------- Feature Icon Section -------------------------->
<section class="padded-md grid-center bg-dark">
  <div class="padded-1 col-12 center">
    <h2><span class="featured-text">features</span> you will love</h2>
  </div>

  {% for item in page.featured %}
  <div class="padded-1 col-3_sm-6_xs-12">
    <i class="{{item.icon}}" data-aos="flip-left" data-aos-duration="1000"></i>
    <p>{{item.description}}</p>
  </div>
  {% endfor %}

  <!-- <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <i class="fa-solid fa-cloud"></i>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae at laborum vel ipsum
          perferendis ducimus.
        </p>
      </div> -->
</section>

<!-- -------------------------------- Image Banner ----------------------------->
<section class="padded-md center grid bg-yellow-wall tall-70">
  <div class="col-12-middle editable">
    <h3 class="big-text">
      <span class="small-text font-weight-normal"
        >never underestimate the power of</span
      >
      <br />
      a good night <span class="white-text">sleep</span>
    </h3>
  </div>
</section>

<!-- -------------------------------- Testimonial Section ----------------------------->
{% include testimonial.html %}
