---
layout: default
title: Products Page
cards:
 - heading: standard mattress
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elite. Similique incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt deleniti, quibusdam ad dolor sit molestiae.
   featured_image: /images/pillows.jpg
 - heading: deluxe mattress
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elite. Similique incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt deleniti, quibusdam ad dolor sit molestiae.
   featured_image: /images/bed.jpg
 - heading: luxury mattress
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elite. Similique incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt deleniti, quibusdam ad dolor sit molestiae.
   featured_image: /images/yellow-wall.jpg
---

    <!------------------------------Header Banner------------------------>
    <header class="grid center tall-60 xs-tall-50">

    {% include header-nav.html %}

      <div class="col-12">
        <h3 class="font-weight-xbold editable">
          <span class="featured-text">addictively</span> soft
        </h3>
        <h1 class="font-weight-normal editable" data-aos="fade-up">
          you won't want to get out of bed
        </h1>
      </div>
    </header>

    <!--------------------------------- Text grid -------------------------->
    <section class="padded-md grid bg-featured">
      <div class="padded-1 col-12 center editable">
        <h2>our mattress <span class="white-text">promise</span></h2>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae.
        </p>
      </div>
      <div class="padded-1 col-3_sm-6_xs-12 editable">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique
          incidunt nobis quaerat earum iure adipisci consequuntur, eum sunt
          deleniti, quibusdam ad dolor sit molestiae.
        </p>
      </div>
    </section>

    <!------------------------------------Card Section -------------------->
    <section class="grid padded-sm">
      {% for item in page.cards %}
      <div class="col-4_sm-12 padded-sm">
        <div class="card">
          <div class="bg-image portrait editable" style="background-image: url('{{item.featured_image}}')" ></div>
          <div class="padded-2 editable"> 
            <h3> {{item.heading}} </h3>
            <p> {{item.description}} </p>
          </div>
        </div>

      </div>
     {% endfor %}
    </section>

    <!-- --------------------------------free shipping Banner ----------------------------->
    <section class="padded-md center grid bg-dark tall-50">
      <div class="col-12-middle editable">
        <h3 class="big-text">
          <span class="small-text font-weight-normal"
            >spend over $150 and activate</span
          >
          <br />
          <span class="featured-text">free</span> express shipping
        </h3>
      </div>
    </section>

    <!---------------------------- Gallery / Text Section ------------------------>
    <section class="grid">
      <div class="padded-md col-6_xs-12-middle editable">
        <h2>a catchy <span class="featured-text">heading</span></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          odio, optio quisquam officia illum excepturi, accusantium temporibus
          assumenda natus iure delectus officia illum excepturi, accusantium
          temporibus assumenda natus iure delectus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          neque, alias maxime deleniti eligendi itaque eveniet delectus autem
          ullam dolorem beatae culpa, repellat quis odit cupiditate veritatis
          sapiente incidunt animi. Molestiae odio, optio quisquam officia illum
          excepturi, accusantium temporibus assumenda natus iure delectus.
        </p>
      </div>
      <div class="bg-image col-6_xs-12 tall-70 editable">
        <!-- ADD BACKGROUND IMAGE-->
      </div>
      <div class="bg-image col-6_xs-12 tall-70 editable hide-xs">
        <!-- ADD BACKGROUND IMAGE -->
      </div>
      <div class="padded-md col-6_xs-12-middle editable">
        <h2><span class="featured-text">something</span> else</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia
          voluptatibus aspernatur impedit modi culpa repudiandae illo commodi
          omnis voluptates dolor iure numquam quis obcaecati aut, eveniet
          laborum velit tempore reiciendis? Mollitia voluptatibus aspernatur
          impedit modi culpa repudiandae illo commodi omnis.
        </p>
      </div>
      <div class="padded-md col-6_xs-12-middle editable">
        <h2><span class="featured-text">another</span> heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          odio, optio quisquam officia illum excepturi, accusantium temporibus
          assumenda natus iure delectus officia illum excepturi, accusantium
          temporibus assumenda natus iure delectus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          neque, alias maxime deleniti eligendi itaque eveniet delectus autem
          ullam dolorem beatae culpa, repellat quis odit cupiditate veritatis
          sapiente incidunt animi. Molestiae odio, optio quisquam officia illum
          excepturi, accusantium temporibus assumenda natus iure delectus.
        </p>
      </div>
      <div class="bg-image col-6_xs-12-middle tall-70 editable">
        <!-- ADD BACKGROUND IMAGE -->
      </div>
    </section>
