
  <!-- Add jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Animate of Scroll -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- LightGallery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

  <!-- MailerLite Universal -->
  <!-- <script>
    (function (w, d, e, u, f, l, n) {
      (w[f] =
        w[f] ||
        function () {
          (w[f].q = w[f].q || []).push(arguments);
        }),
        (l = d.createElement(e)),
        (l.async = 1),
        (l.src = u),
        (n = d.getElementsByTagName(e)[0]),
        n.parentNode.insertBefore(l, n);
    })(
      window,
      document,
      "script",
      "https://assets.mailerlite.com/js/universal.js",
      "ml"
    );
    ml("account", "123827");
  </script> -->
  <!-- End MailerLite Universal -->

  <!-- Our custom Javascript file -->
  <script src="/scripts.js"></script>