      <div class="header-nav col-12-top grid left sm-text-center">
        <div class="col-5_sm-12-middle">
          <a href="/index.html">
            <h2 class="logo">The Sleep Co</h2>
          </a>
        </div>

        <nav class="col-7_sm-12-middle right sm-text-center">
          <a href="/index.html"> Home </a>
          <a href="/about.html"> About </a>
          <a href="/products.html"> Products </a>
          <a href="/contact.html"> Contact </a>
        </nav>
      </div>
      