<style>

    :root {
        --page-font: {{site.data.site-settings.design.page-font_color}};
        --dark: {{site.data.site-settings.design.dark_color}};
        --featured: {{site.data.site-settings.design.featured_color}};
        --light: {{site.data.site-settings.design.light_color}};
        --image-background: {{site.data.site-settings.design.image-background_color}};
        --featured-text: {{site.data.site-settings.design.featured-text_color}};
        --light-text: {{site.data.site-settings.design.light-text_color}};
        --dark-text: {{site.data.site-settings.design.dark-text_color}};
        --quotes: {{site.data.site-settings.design.quotes_color}};
    }

</style>