    <footer
      class="padded-tb padded-lr-md grid-spaceBetween bg-dark sm-padded-t-10">
      <div class="col-5-_sm-12 sm-text-center">
        <h2 class="editable">The Sleep Co</h2>
        <p class="editable">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde enim
          autem doloremque possimus blanditiis quae molestiae vel, veritatis
          maiores quam voluptates eius numquam ipsa deleniti.
        </p>
        <a href="#">
          <i
            class="fa-brands fa-square-facebook fa-social margin-l-0"></i>
        </a>
        <a href="#">
          <i
            class="fa-brands fa-square-pinterest fa-social"></i>
        </a>
        <a href="#">
          <i
            class="fa-brands fa-square-instagram fa-social"></i>
        </a>
      </div>

      <!---------------Flodesk form------------>
      <div class="col-5_sm-12 margin-t-1 left">
        <p
          class="margin-t-1 margin-b-0 center sm-text-center sm-margin-t-25 sm-text-sm"
        >
          Join our weekly newsletter to keep up to date with the lastest news
        </p>
        <div class="ml-embedded padded-0" data-form="yzYFH2"></div>
      </div>
    </footer>
    <div class="col-12 center sub-footer bg-dark">
      <p class="xs-text">Copyright 2023</p>
    </div>

    
            <!-- <div class="padded-0">
          <div class="ml-embedded" data-form="yzYFH2"></div>
        </div> -->